@model IEnumerable<Campus.Abstracciones.ModelosUI.AnuncioDto>

@{
    ViewBag.Title = "Lista de Anuncios";
}

<h2 class ="container-title">Anuncios Públicados</h2>

 

    <div class="d-flex justify-content-end mb-3">
        @Html.ActionLink("Publicar Anuncio", "Create", "Anuncios", null, new { @class = "btn btn-secondary" })
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-danger">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Titulo)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.FechaEvento)</th>
                <th>@Html.DisplayNameFor(model => model.FechaPublicacion)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anuncio in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => anuncio.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => anuncio.Descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => anuncio.FechaEvento)</td>
                    <td>@Html.DisplayFor(modelItem => anuncio.FechaPublicacion)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = anuncio.IdAnuncio }, new { @class = "btn btn-sm btn-primary" }) |

                        @Html.ActionLink("Eliminar", "Delete", "Anuncios", new { id = anuncio.IdAnuncio }, new { @class = "btn btn-sm btn-danger" })

                    </td>
                </tr>
            }
        </tbody>
    </table>



    2/2

