@model IEnumerable<Campus.Abstracciones.ModelosUI.UsuariosDto>

@{
    ViewBag.Title = "ListarUsuarios";
}

<h2>ListarUsuarios</h2>

<p>
    @Html.ActionLink("Registrar Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success" })

</p>

<div class="modal fade" id="UsuariosModal" tabindex="-1" aria-labelledby="UsuariosModalTittleLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5" id="UsuariosModalTittleLabel">Agregar</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table" , id="TablaDeUsuarios">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-outline-warning btn-Editar " data-id="@item.IdUsuario">
                                <i class="fas fa-edit me-1"></i> Editar
                            </button>
                            <button class="btn btn-outline-info btn-Detalles " data-id="@item.IdUsuario">
                                <i class="fas fa-info-circle me-1"></i> Detalles
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section scripts{
    <script src="~/Scripts/Usuarios/ScriptDeUsuarios.js"></script>
}

